body{
     box-sizing:border-box; 
     background-color:#1A1A1D;
     margin:0;
     padding:0;
}
#header-logo{
             padding-left:40px;
             margin:5px;
             position:relative;
             top:0;
             left:0;   
             display:block;
             border-radius:20px;
             overflow:hidden;       
             }
#header-logo img{
                position:relative;
                top:4px;
                left:0;
                width:12%;               
}
#nav-bar{ 
          position:relative;
          top:0;
          left:0;  
          height:40px;
          display:block;
          background-color:#4e4e50;
          border-radius:5px;                    
          }
#nav-bar a{ 
           position:relative;  
           left:15px;
           display:block;
           float:left;
           margin-top:8px;
           padding:2px 15px;
           text-decoration:none;
           font-family:sans-serif;
           text-align:justify; 
           color:white;
           transition:0.25s;
           transition-delay:0.1s;
           text-transform:uppercase;
           
           }
#nav-bar a:hover{ 
              border-bottom:3px solid #14a76c;
              transition:0.25s ease-in-out;
               
} 
#nav-bar a.active{ 
              border-bottom:3px solid #14a76c;
}
#Content{
          margin-top:8px;
          position:relative;
          top:0;
          left:50%;
          transform:translateX(-50%); 
          overflow:hidden;           
         }
#main-sec{
          margin:8px 0px;
          position:relative;
          top:0;
          left:50%;
          transform:translateX(-50%);   
          width:75%;
          height:500px; 
          display:block;
          background-color:#4e4e50;
          border-radius:20px;
          overflow:hidden;
          }
.split{
      margin:6px;        
      display:flex;
      position:relative;
      height:490px;   
 }
.split .screen{
           position:relative;
           flex-grow:2;
           display:flex;
           overflow:hidden;
           transition:1s;
}
.split:hover .screen{
         opacity:0.3;      
}    
.split .screen:hover{
         flex-grow:20;
         opacity:1; 
 }
/**.screen .screen-content{
              display:flex;
              flex-grow:1;
              position:relative;
              top:78%;
              transform:translateX(180%);
              transition:0.60s ease;               
              display:inline;
              width:80%;
              height:20%;              
              text-align:center;
              vertical-align:bottom;
              overflow:hidden;     
 }
.screen:hover .screen-content {
               transform:translateX(0%);
               transition:0.60s ease;  
               transition-delay:0.2s;              
}
 
.split .screen .screen-content a{      
                 text-decoration:none;
                 
                 font-size:22px;
                 font-weight:20%;
                 color:white;
                 text-align:center;  
 }
.split .screen .screen-content a:hover{
                  color:#14a76c;
}**/
          
.split .screen:nth-child(1){
               background-image:url("../img/1.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;
}        
.split .screen:nth-child(2){
               background-image:url("../img/2.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;
                
}        
.split .screen:nth-child(3){
               background-image:url("../img/3.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;
}        
.split .screen:nth-child(4){
               background-image:url("../img/4.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;    
}        
#card{
      margin:10px 0;
      padding:12px 0px 0 12px; 
      background-color:#4e4e50;
      position:relative;
      top:0;
      left:50%;
      transform:translateX(-50%);  
      display:inline-block;
      float:left;      
      width:75%;
      /**height:88em;**/
      border-radius:20px;
      text-align:center;
      overflow:hidden; 
     }
#card h1{
         position:relative;
         top:0;
         left:0;
         transform:translateX(50%;);
         margin:40px 40px 40px 10px;
         text-transform:uppercase;
         text-decoration:none;
         font-weight:26px;
         font-family: sans-serif ;
         color:white;
}
#card a{
        text-decoration:none;
}  
       
#card h1:hover{
            color:#14a76c;
}                 
.card-imf{
          box-sizing:border-box;
          margin:10px 10px;
          position:relative;
          top:0;
          left:7%;
          transform:translateX(-7%);
          display:inline-block;
          float:left;
          width:20em;
          height:25em;
          border-radius:7px;
          overflow:hidden;
          text-align:center; 
         } 

.img-box{
         box-sizing:border-box;
         position:relative;
         top:50%;
         left:50%;
         transform:translate(-50%,-50%);   
         width:100%;    
         height:100%; 
         border-radius:7px;
         overflow:hidden;
         text-align:center;           
}
.img-box img{
             display:block;
             width:95%;
             height:95%;
             position:relative;
             top:50%;
             left:50%;
             transform:translate(-50%,-50%);             
             border-radius:7px;
             transition:0.40s ease-in-out;              
} 
.button-box{
            display:block;
            position:absolute;
            top:0;
            left:0;
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            text-align:center;
            vertical-align:middle;
            line-height:25; 
            overflow:hidden;              
}
.button-box input[type=button]{
             background-color:#14a76c;
             color:white;
             padding:14px 16px;  
             border:none;
             border-radius:3px;
             outline:none;
             font-size:20px;
             text-decoration:none;
             cursor:pointer;
             transform:translateX(180%);
             transition:0.60s ease;
 }
.card-imf:hover .button-box input[type=button]{
             transform:translateX(0);
             transition:0.60s ease-in-out;
             transition-delay:0.2s;                             
}
.card-imf:hover .img-box img{
             opacity:0.5;
             filter:alpha(opacity=50);
             transition:0.40s ease-in-out;             
}
.card-imf .title-box{
            display:block;
            position:absolute;
            top:0;
            left:0;
            margin:0;
            padding:0;
            width:100%;
            height:100%;
            text-align:center;
            overflow:hidden;
}
.card-imf .title-box h2{ 
              margin:30px;
              text-decoration:none;
              font-size:22px;
              font-family:sans-serif;
              font-style:oblique; 
             /** text-transform:uppercase;**/
              color:white;
              background-color:#00b894; 
              border-radius:3px;
              transform:translateX(-180%);
              transition:0.60s ease;              
}      
.card-imf:hover .title-box h2{
             transform:translateX(0);
             transition:0.60s ease-in-out;
             transition-delay:0.2s;
             
}
 #footer{ 
 	  margin-bottom: 10px;
          position:relative;
          top:0;
          left:0;  
          height:40px;
          display:block;
          background-color:#4e4e50;
          border-radius:5px;  
          text-align: justify;                   
          }
#footer p{ 
           position:absolute; 
           left:15px;
           display:block;
           float:left;
           margin-top:8px;
           padding:5px 15px; 
           text-decoration:none;
           font-family:sans-serif; 
           color:white;
           text-transform:uppercase;
           }
span a{
	 text-decoration: none;
	 color:white; 
}           
span a:hover{
	       color:#14a76c;
	       cursor: pointer; 
}
.details{
         margin:0;
         padding:5px; 
         position:relative;
         top:0; 
         left:-5px;        
 }
.details-img-box{
         margin:0;
         padding:0; 
         position:relative;
         top:0; 
         left:0;
         bottom:0;    
         height:30%;
         text-align:center;
         overflow:hidden;
         background-size:cover;                        
}
.details-img-box hr{
                 position:relative;
                 top:0;
                 left:0;
                 bottom:0; 
                 width:80%;
                 border:2px solid #14a76c; 
                                
}

.details-img-box img{
                    margin:0;
                    padding:0;
                    position:relative;
                    top:0;
                    left:0;
                    width:30%; 
                    height:99%;
                                      
}
.details .details-content{
                 margin:4px 0px;
                 padding:0px;
                 position:relative;
                 top:0;
                 left:0;
}
.details .details-content h2{
                  color:white;
                  font-size:30px; 
                  text-decoration:underline;
                  font-family:sans-serif;
}
.details .details-content p{
                   margin:15px;
                   box-sizing:border-box; 
                   word-spacing:10px;
                   display:block;
                   position:relative;
                   text-decoration:none; 
                   color:white;
                  font-size:18px; 
                  text-decoration:none;
                  font-family:sans-serif;
                  text-align:justify;
}  
.about-us{
          display:block;
          text-decoration:none;
          text-align:center; 
}
.about-us a{
            text-decoration:none;
} 
.about-us h2{
            font-size:46px;
            color:white;
}
.about-us span{
               font-size:38px;
              color:#14a76c; 
              margin-bottom:20px;
              word-spacing:10px;            
}
.about-us p{
            word-spacing:10px;
            margin-top:25px; 
            font-family:sans-serif;
            font-size:24px;
            color:white;
            }
.about-img img{
               margin:10px;
               width:50%;
               border-radius:15px;
}
.about-img img:hover{
               box-shadow:5px 5px 5px 5px;
}  
 
/**mobile responsive code**/
 
@media screen and (max-width: 480px){
 body{
     box-sizing:border-box; 
     background-color:#1A1A1D;
     margin:0;
     padding:0;
}
#header-logo{
             padding-left:5px;
             margin:5px;
             position:relative;
             top:0;
             left:0;   
             display:block;
             border-radius:20px;
             overflow:hidden;       
             }
#header-logo img{
                position:relative;
                top:4px;
                left:0;
                width:50%;
                height:60%;               
}
#nav-bar{ 
          margin:0;
          padding:10px;
          position:relative;
          top:0;
          left:0;
          display:block;  
          height:auto;
          background-color:#4e4e50;
          border-radius:5px;
          text-align:center;                     
          }
#nav-bar a{
           position:relative;
           left:50%;
           transform:translateX(-50%); 
           float:none;
           margin:0px;
           padding:10px ;
           text-decoration:none;
           font-family:sans-serif; 
           color:white;
           text-transform:uppercase;
           width:30%;
           text-align:center;	
           }

#card h1{         
         position:relative;
         top:0;
         left:0;
         transform:translateX(0);
         margin:40px 40px 40px 10px;
         text-transform:uppercase;
         text-decoration:none;
         font-weight:26px;
         font-family: sans-serif ;
         color:white;
}
#card a{
        text-decoration:none;
}  
       
#card h1:hover{
            color:#14a76c;
}                 
.card-imf{
          box-sizing:border-box;
          margin:10px 0px;
          position:relative;
          top:0;
          left:50%;
          transform:translateX(-50%);
          display:block;
          float:none;
          width:13em;
          height:17em;
          border-radius:7px;
          overflow:hidden;
          text-align:center; 
         } 
.details-img-box{
         margin:0;
         padding:0; 
         position:relative;
         top:0; 
         left:0;
         bottom:0;    
         height:50%;
         text-align:center;
         overflow:hidden;                      
}
.button-box input[type=button]{
          padding:8px 8px;
          font-size:12px;
          transform:translateX(200%); 
          } 
.card-imf .title-box h2{ 
              margin:15px;
              text-decoration:none;
              font-size:14px;
              transform:translateX(-200%);
  }                      
.details-img-box img{
                    margin:0;
                    padding:0;
                    position:relative;
                    top:0;
                    left:0;
                    width:90%; 
                    height:99%;                  
}
.details .details-content p{
                   margin:15px;
                   box-sizing:border-box; 
                   word-spacing:5px;
                   display:block;
                   position:relative;
                   text-decoration:none; 
                   color:white;
                  font-size:16px; 
                  text-decoration:none;
                  font-family:sans-serif;
                  text-align:justify;
}                                     


 #footer{ 
 	  margin-bottom: 10px;
          position:relative;
          top:0;
          left:0;  
          height:40px;
          display:block;
          background-color:#4e4e50;
          border-radius:5px;  
          text-align:center;                   
          }
#footer p{ 
           position:absolute; 
           left:15px;
           float:none;
           margin-top:0px; 
           text-decoration:none;
           font-family:sans-serif; 
           color:white;
           font-size:14px;
           text-transform:uppercase;
           }
span a{
	 text-decoration: none;
	 color:white; 
}           
span a:hover{
	       color:#14a76c;
	       cursor: pointer; 
}   
#main-sec{
          margin:8px 0px;
          position:relative;
          top:0;
          left:50%;
          transform:translateX(-50%);   
          width:99%;
          height:350px; 
          display:block;
          background-color:#4e4e50;
          border-radius:10px;
          overflow:hidden;
          }
.split{
      padding:0;
      margin:3px;        
      display:flex;
      position:relative;
      height:98%;   
 }          
.split .screen:nth-child(1){
               background-image:url("../img/1.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:10px;
               background-size:cover;

}        
.split .screen:nth-child(2){
               background-image:url("../img/2.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:10px;
               background-size:cover;
             }
.split .screen:nth-child(3){
               background-image:url("../img/3.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;
}        
.split .screen:nth-child(4){
               display: none;
               background-image:url("../img/4.jpg");
               background-repeat:no-repeat;
               background-position:center;
               border-radius:20px;
               background-size:cover;    
}
.about-us a{
            text-decoration:none;
 } 
.about-us h2{
            font-size:25px;
            color:white;
}
.about-us hr{
             width:80%;
} 
.about-us span{
               font-size:18px;
              color:#14a76c; 
              margin-bottom:20px;
              word-spacing:5px;            
}
.about-us p{
            word-spacing:5px;
            margin-top:25px; 
            font-family:sans-serif;
            font-size:14px;
            color:white;   
}
.about-img{
           display:block;
           position:relative;
           top:0;
           left:50%;
           transform:translateX(-50%);
           text-align:center;
}
.about-img img{
              position:relative;
           top:0;
           left:50%;
           transform:translateX(-50%);
              width:90%;
              
}  
                                                     
                     

}
